@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

#homePage {
  background: vars.$homeBackgroundColor;
  min-height: 85vh;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#homePage .transactionCardContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 2.1rem;
  @media (max-width: vars.$mobileBreakpoint) {
    margin-bottom: 2rem;
  }
}
