@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
