@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

#authPage {
  background: vars.$homeBackgroundColor;
  height: 80vh;
  color: white;
  display: flex;
  flex-flow: column;
}

.toggleSignForm {
  visibility: hidden; // hide toggle button according to the designs
}