@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: vars.$mobileBreakpoint) {
    flex-flow: column;
  }
}

#features h2 {
  @include mixins.screenReaderOnly;
}
